<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>重人科留言系统注册页面</title>
    <!-- 样式和脚本链接可根据需要解开注释 -->
    <!-- <link type="text/css" rel="stylesheet" href="css/register.css"/> -->
    <!-- <script src="js/register.js"></script> -->
</head>
<body>
<div class="container">
    <div class="register_container">
        <h1 class="title">重人科留言系统</h1>
        <h3 class="sub_title">注 册</h3>
        <!-- 显示错误信息 -->
        <p th:text="${msg}" style="color: red"></p>
        <!-- 注册表单 -->
        <form method="post" action="doRegister">
            <div class="from_group">
                <span>用户名：</span>
                <input name="username" placeholder="请输入用户名" required/>
            </div>
            <div class="from_group">
                <span>密  码：</span>
                <input id="pwd" type="password" name="password" placeholder="请输入密码" required/>
            </div>
            <div class="from_group">
                <span>邮  箱：</span>
                <input id="email" type="email" name="email" placeholder="请输入邮件" required/>
            </div>
            <input class="button" type="submit" value="注　　　册"/>
            <div>
            <a href="login">已有账号点击登录</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
